<ngb-tabset #t="ngbTabset" id="patient-data-pills" type="pills" [hidden]="submitted">
  <ngb-tab title="Basic Info" id="tab-basic-info" class="btn btn-secondary">
    <template ngbTabContent>
      <app-form-basic-info></app-form-basic-info>
      <button class="btn btn-success next-button" (click)="t.select('tab-medical-history')">Next</button>
    </template>
  </ngb-tab>
   <ngb-tab title="Medical History" id="tab-medical-history">
    <template ngbTabContent>
    	<app-form-medical-history></app-form-medical-history>
    	<button class="btn btn-success next-button" (click)="t.select('tab-consent')">Next</button>
    </template>
  </ngb-tab>
  <ngb-tab title="Consent" id="tab-consent">
    <template ngbTabContent>
      <app-form-consent></app-form-consent>
      <button class="btn btn-success next-button" (click)="submitForm()">Submit</button>
    </template>
  </ngb-tab>
</ngb-tabset>

<div class="debug-container">
	<h5>Debug</h5>
	{{ patientData | json}}
</div>

<div class="confirmation-message" [hidden]="!submitted">
  <h1>Thank you!</h1>
  <br/>
  <p>JSON payload:</p>
  <pre [innerHtml]="patientData | prettyjson:3" class="prettypatientdata"></pre>
</div>