<div class="container form-container">
	<div class="row">
		<div class="col-sm-12">
			<h5 class="input-label">Medications</h5>
		</div>

		<div class="col-sm-12" *ngFor="let medication of patientData.medicalHistory.medications; let i = index">
			<div class="row">
			  <div class="form-group col-sm-4">
				  <input type="text" class="form-control" placeholder="Medication Name" [(ngModel)]="medication.name">
			  </div>
			  <div class="form-group col-sm-4">
				  <input type="text" class="form-control" placeholder="Frequency" [(ngModel)]="medication.frequency">
			  </div>
			  <div class="form-group col-sm-3">
				  <input type="text" class="form-control" placeholder="Dose" [(ngModel)]="medication.dose">
			  </div>
			  <div class="col-sm-1">
			  	<button class="btn btn-danger" (click)="patientDataService.removeMedication(i)">rm</button>
			  </div>
			</div>
	  </div>
	  <div class="col-sm-12">
	  	<button class="btn btn-success" (click)="patientDataService.addMedication()">Add Medication</button>
	  </div>

	</div>
</div>