<div class="container form-container">
	<div class="row">
		<div class="col-sm-12">
			<h5 class="input-label">Consent</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor tellus, accumsan interdum ante non, fermentum suscipit lacus. Integer finibus ut lorem eget maximus. Proin dolor quam, mattis ut dui ut, dictum convallis quam. Nam imperdiet in metus at posuere. Suspendisse ut tortor urna. Mauris placerat leo ex, at sodales risus aliquet ut. Aenean tristique porta libero sed gravida. Ut ut diam malesuada, porta mi vitae, placerat ex. Curabitur scelerisque ultricies rutrum. Sed posuere turpis tortor, ac viverra nisl mattis id. Vestibulum sit amet felis rutrum purus vestibulum vulputate. Proin sed facilisis diam. Quisque et iaculis tellus. Proin viverra, urna id commodo fermentum, augue nisl consequat arcu, et lacinia sem urna ac libero. Etiam vitae tellus luctus, eleifend ex non, posuere est. Duis lobortis diam justo, sit amet semper mauris fringilla sit amet.

			Nullam vel libero libero. Aliquam varius orci at libero efficitur, in commodo lacus venenatis. Proin congue id magna interdum cursus. Sed blandit nulla a lectus fermentum, id congue velit vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas convallis mauris sem. Nulla porta iaculis felis, eu luctus ex sollicitudin eu. Ut molestie vel quam at gravida. Sed lorem justo, semper sit amet ullamcorper a, blandit sed velit. Sed dolor ligula, interdum vel semper ut, imperdiet sed elit. Fusce eu odio viverra, egestas neque eget, vestibulum nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac urna eu turpis posuere commodo. In ac fermentum massa, ut laoreet lectus. Nunc facilisis enim velit, a efficitur magna bibendum in.</p>
		</div>

		<div class="col-sm-12">
			<div class="checkbox">
				<h5>
	        <input type="checkbox" name="isActive"  [(ngModel)]="patientData.consent">
	        I Agree
	    	</h5>
	    </div>
		</div>
	</div>
</div>
