/* You can add global styles to this file, and also import other style files */

$nav-height: 60px;
$nav-padding: 10px;

#main-nav, .next-button {
	position: fixed;
	z-index: 10;
}

#main-nav {
	background: #ddd;
	height: $nav-height;
	width: 100%;
	.nav-title {
		font-size: 30px;
		line-height: $nav-height;
		padding: 0 $nav-padding;
	}
}

#patient-data-pills {
	.nav.nav-pills {
		background: #eee;
		padding: $nav-padding;
		position: fixed;
		top: $nav-height;
		width: 100%;
		z-index: 10;
	}
	.nav.nav-pills::before {
		content: "My Patient Data";
		font-size: 20px;
		font-weight: 700;
		line-height: 40px;
		margin-right: 20px;
	}
}

.next-button {
	right: $nav-padding;
	top: $nav-height + $nav-padding;
}

.form-container {
	padding-bottom: 50px;
	position: relative;
	top: $nav-height * 2.5;
}

.input-label {
	margin-top: 40px;
}

.radio-inline {
	margin-right: 15px;
	input {
		margin-right: 10px;
	}
}

h5 input {
	position: relative;
    margin-right: 5px;
    top: -3px;
}

.add-button {
	margin-bottom: 20px;
}

.debug-container {
	font-size: 10px;
	padding: 10px;
	position: fixed;
	right: 0px;
	top: $nav-height * 2;
	width: 200px;
	z-index: 100;

	display: none;
}